@import url('https://fonts.googleapis.com/css?family=getFont');
*{
	margin: 0;
	padding:0;
	font-family: 'getFont', sans-serif;
}
body {
    display: flex;
    height: 100vh;
    text-align: center;
    background: #177b3b21;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.header {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-between;
    align-content: space-between;
}
.top {
    margin: 5px 10px;
    float: left;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 115em;
}
#fac{
	width: 6%;
}
#web{
	width: 81.83%;
}
#search{
	width: 12%;
}
.top li {
    background: #1f7409;
    list-style: none;
    height: 110px;
	border-radius: 3px;
}
.top li a img {
    height: 95px;
    margin: 5px;
    border-radius: 50px;
}
.top li h3 {
    color: lightgray;
    font-size: 46px;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 7px;
    font-family: cursive,sans-serif;
    font-weight: 500;
}
.top li p {
    margin: 12px 0px 8px 0px;
    color: whitesmoke;
    font-size: 21px;
    font-family: emoji;
}
.top li form{
	margin:auto;
}
.top li form input {
    width: 15em;
    height: 2.5em;
    border-radius: 4px;
    padding-left: 4px;
    letter-spacing: 2px;
    font-size: 12px;
}

.nav{
	margin: 0px 10px;
    float: left;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 115em;
}
.nav li {
    list-style: none;
    background: #163c0c;
    height: 2.7em;
    width: 19em;
    border-radius: 3px;
    padding-top: 5px;
}
.nav li a {
    text-decoration: none;
    color: lightgrey;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 760;
    font-family: cursive;
}

.login-form{
	position: relative;
	width:auto;
	height: auto;
	background: #1b1b1b;
	padding: 40px 35px 60px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #272727;
}

.text{
	font-size: 30px;
	color: #c7c7c7;
	font-weight: 600;
	letter-spacing:2px;
}

.instruction{
	font-size: 20px;
	color: #c7c7c7;
	font-weight:600;
	letter-spacing:1px;
}
.gen,.division{
    margin: 10px 0px;
    text-align: left;
}
.gen label, .division label {
    font-size: 1.5em;
    color: lightgrey;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.gender {
    display: inline;
    border: 1px lightgrey solid;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 37px;
}
.gender label{
    margin:auto;
}
.gender input {
    margin-left: 19px;
}
.division{
    margin:auto;
}
.division label{
    margin:auto;
}
.division select {
    width: 24em;
    height: 3.5em;
    background: darkgrey;
    color: #19660b;
    padding-left: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
}
.division select option{
    margin:auto;
}

.login-form form{
	margin-top: 40px;
}

.login-form form .field{
	margin-top: 20px;
	display:flex;
}

.field .fas{
	height:50px;
	width: 60px;
	color: #868686;
	font-size:20px;
	line-height:50px;
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	border-right:none;
	background: linear-gradient(#333,#222);
}

.field input,.login-form form button{
	height:50px;
	width: 100%;
	outline: none;
	font-size: 20px;
	letter-spacing:2px;
	color: #868686;
	padding: 0 15px;
	border: 1px solid #444;
	border-radius: 0 5px 5px 0;
	caret-color: #339933;
	background: linear-gradient(#333,#222);
}

.login-form form input:focus{
	color:#339933;
	box-shadow: 0 0 5px rgba(0,255,0,.2),
		  inset 0 0 5px rgba(0,0,0,.1);
				
	background: linear-gradient(#333933,#222922);
	animation: glow .8s ease-out infinite alternate;
}
@keyframes glow{
	0%{
		border-color:#339933;
		box-shadow: 0 0 5px rgba(0,255,0,.2),
			inset 0 0 5px rgba(0,0,0,.1);
	}
	100%{
		border-color:#6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6),
			inset 0 0 10px rgba(0,255,0,.4);
	}
}

.login-form form button{
	margin-top:30px;
	border-radius: 5px !important;
	font-weight:600;
	letter-spacing:1px;
	cursor:pointer;
}

.login-form form button:hover{
	color: #339933;
	border: 1px solid #339933;
	box-shadow: 0 0 5px rgba(0,255,0,.3),
		    0 0 10px rgba(0,255,0,.2),
		    0 0 15px rgba(0,255,0,.1),
		    0 2px 0 black;
}

.link, .rpwd{
	margin-top:25px;
	color: #868686;
}

.link a{
	color:#339933;
	text-decoration: none;
}

.link a:hover{
	text-decoration: underline;
}

.rpwd a{
	color:#339933;
	text-decoration: underline;
}
.contact {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
	width: 115em;
	margin: 135px 0px;
}
.message{
	float: left;
	text-align: left;
}
.message h2 {
    font-size: 2.2em;
    margin-bottom: 22px;
    letter-spacing: 2px;
    font-family: cursive;
}
.message form{
	margin:auto;
}
.message form label {
    font-style: oblique;
    font-size: 1.5em;
}
.message form input {
    width: 40em;
    height: 2.5em;
    border-radius: 4px;
    margin: 8px 0px;
}
.message form textarea {
    width: 40em;
    height: 18em;
    border-radius: 4px;
    margin-top: 8px;
}
.message form button {
    width: 10em;
    height: 2.5em;
    letter-spacing: 3px;
    font-size: 20px;
    margin-top: 4px;
    font-weight: bolder;
    background: #1f4e10;
    color: lightgrey;
    font-family: sans-serif;
}
.info{
	float:right;
	text-align: left;
}
.info h2 {
    font-size: 2.4em;
    font-family: cursive;
    margin-bottom: 35px;
}
.info p {
    margin-bottom: 4em;
    font-size: 23px;
    letter-spacing: 2px;
}
.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 115em;
}
.table h3 {
    font-size: 2.8em;
    letter-spacing: 2px;
    font-family: cursive;
    margin-bottom: 37px;
}
.table table,.table tr,.table td,.table th {
    border: 1px black solid;
    border-collapse: collapse;
}
.table table {
    width: 100%;
}
.table table tr {
    text-align: left;
}
.table table tr th {
    background: #389f38;
    color: #030c06;
}
.table table tr th,.table table tr td{
    font-size: 27px;
    padding-left: 20px;
    height: 2.3em;
}
.news ,.image{
    width: 115em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news h3 ,.image h3{
    margin-bottom: 10px;
    font-size: 2em;
    letter-spacing: 2px;
    font-family: cursive;
    color: #bb1f3d;
}
.news table,.image table {
    width: 100%;
    margin-top: 15px;
}
.news table, .news tr, .news td {
    border: 1px black solid;
}
.news table tr{
    margin: auto;
}
.news table tr td{
    margin: auto;
}
.news table tr td img {
    width: 28em;
    height: 12em;
}
.image{
    margin:auto;
}
.image table,.image tr,.image td{
    border:none;
}
.image table tr td img {
    width: 28.2em;
    height: 18em;
}
.main {
    width: 115em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main h3 {
    margin-bottom: 30px;
    font-size: 2.7em;
    letter-spacing: 3px;
    font-family: cursive;
    color: #7aa43b;
}
.main img {
    margin: 24px 0px;
    width: 48em;
    height: 25em;
}
.column{
    column-count: 2;
    width: 100%;
}
.column p {
    float: left;
    font-size: 19px;
    text-align: left;
}
.column img {
    float: right;
    height: 32em;
    width: 56.5em;
    margin-top: 0;
}
